*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}


.header-container{
    width: 100vw;
    height: 20vh;
    background-color: royalblue;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    flex-wrap: wrap;
    
   
}

.logoImg{
    width: 30px;
    height: 5vh;
    margin: 1rem;
}

ul{
    display: flex;
    
}
li{
    list-style: none;
    margin: 0.2rem;
    font-size: 2rem;
    
}

nav li a{
    text-decoration: none;
    color: black;
}
 nav li a:hover{
     color: red;
 }

 nav li a::after{
    content: "|";
 }
h1{
    font-size: 3rem;
 
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}
.boxex{
    width: 20rem;
    height: 30rem;
    min-width: 20rem;
    background-color: black;
    border:gray outset ;
    margin: 1.6rem;
   border-radius: 1rem;
    padding: 1.6rem;
   display: flex;
   flex-direction: column;
   align-items: center;
    
    
}

.mainImg{
    width: 30%;
    height: 20%;
    border-radius: 20rem;
    background-color: white;
}
.txtTarget{
    width: 100%;
    height: 80%;
    color: white;
    text-align: justify;
    padding: 1.6rem;
    font-size: 1.4rem;
    
}